
body{
  font-family: Garamond, Helvetica, sans-serif;
  width: 800px;
  text-align: center;
  background: beige;
}

h1{
  background: rgb(150, 231, 150);
  margin-bottom: 50px;
  width: 100%;
  border-radius: 10px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px rgb(0, 13, 255);
}


#matrix{
  position: absolute;
  text-align: center;
  vertical-align: center;
  display: grid;
  grid-template: repeat(14, 1fr)/repeat(14, 1fr);
  background: cornsilk;
  gap: 13px;
  width: 95%;
  border: 3px solid black;
  padding: 20px;
  }

#selection{
  position: relative;
  width: 65%;
  height: 30px;
  font-family: Garamond, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  top: 20px;
  margin-left: 25px;
}

.tone{
  font-family: Sylfaen, Helvetica, sans-serif;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 5px;
  font-size: 20px;
  background: white;
  border: 1px solid olive;
  
}

input[type=button]{
  border: .5px solid black;
  border-radius: 8px;
  transition: .5s ease-in-out;
}

input[type=button]:hover{
  transform: scale(1.2);
}


 .tone.C:hover{
  background: #f0f0ff;
}
 .tone.C-sharp:hover{
  background:#ff00ff;
}
 .tone.D:hover{
  background: #ffff4d;
}
 .tone.E-flat:hover{
  background:#37cfcf;
}
 .tone.E:hover{
  background:rgb(227, 255, 100);
}
 .tone.F:hover{
  background:#50f0d0;
}
 .tone.F-sharp:hover{
  background:brown;
}
 .tone.G:hover{
  background:rgba(255, 251, 0, 0.692);
}
 .tone.A-flat:hover{
  background: #ff5f00;
}
 .tone.A:hover{
  background:rgb(215, 218, 32);
}
 .tone.B-flat:hover{
  background:rgb(127, 15, 207);
}
 .tone.B:hover{
  background: lightgreen;
}

.tone.C-sharp, .tone.E-flat, .tone.F-sharp, .tone.A-flat, .tone.B-flat{
  position: relative;
  height: 65px;
  bottom: 20px;  
  background-color: black;
  color: white; 
}


#sharps:hover{
  margin: 10px;
  background-color: lightblue;
}
#flats:hover{
  margin: 10px;
  background-color: pink;
}

#sharps, #flats{
  width: 30px;
  font-size: 20px;
}

#buttons{
  width: 75%;
  height: 60px;
  margin-left: 15%;
}

#buttons .tone{
  margin: 5px;
  height: 65px;
  font-size: 20px;
}
#options {
  position: relative;
  top: 30px;
  font-size: 16px;
}

#options, input[type=button]{
  font-size: 16px;
}

#pick4me{
  width: 100px;
  border: 2px solid fuchsia;
  margin: 10px;
}

#clear{
  width: 100px;
  border: 2px solid crimson;
  margin: 10px;
}

#generate{
  width: 100px;
  border: 2px solid orange;
  margin: 10px;
}

#clear:hover, #generate:hover, #pick4me:hover{
  margin: 10px;
}

.wrapper{
  margin: 100px auto;
  width: 900px;
  height: 100%;
  position: relative;
}

.marker{
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 10px;
  height: 28px;
  font-family: Sylfaen, Helvetica, sans-serif;
  font-size: 18px;
  font-style: italic;
  background-color: yellow;
  transition: .15s ease-in-out;
}

.marker:hover{transform: scale(1.25);
}

.blank{
  background-color: cornsilk;
}
